[Unit]
Description=Sevalet Unix Domain Socket
Documentation=https://github.com/zinrai/sevalet

[Socket]
ListenStream=/var/run/sevalet.sock
SocketMode=0660
SocketUser=sevalet
SocketGroup=sevalet

# Socket options
Accept=false
Backlog=128
MaxConnections=64

[Install]
WantedBy=sockets.target
